/*Produtos começa */
#produtos {
  padding: 5vw 10vw;
  background-color: #FFF5F2;
}

#produtos h2 {
  font-size: calc(1rem + 1.5vw);
  letter-spacing: 0.1em;
  color: #5d4037;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  width: 75%;
  line-height: 1.2em;
  font-weight: 500;
}

#produtos h3 {
  text-align: center;
  color: #5d4037;
}

.cards-container {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
}


