/* Produtos começa */
#produtos {
  padding: 5vw 10vw;
  background-color: #FFF5F2;
}

#produtos h2 {
  font-size: calc(1rem + 1.5vw);
  letter-spacing: 0.1em;
  color: #5d4037;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  width: 75%;
  line-height: 1.2em;
  font-weight: 500;
}

/* Responsividade */

/* Tablets e telas médias */
@media (max-width: 1024px) {
  #produtos {
    padding: 4vw 6vw;
  }
  #produtos h2 {
    width: 90%;
  }
}

/* Celulares */
@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr; /* um card por linha */
    gap: 1rem;
    padding: 1rem;
  }

  /* diminui a largura dos cards */
  .cards-container > * {
    max-width: 80vw; /* ajusta esse valor pra o que quiser */
    margin-left: auto;
    margin-right: auto; /* centraliza */
    width: 100%; /* para pegar o máximo possível até o max-width */
  }
}




