/* Hero começa */
.hero-container {
  height: 70vh;
  background-image: url("../../assets/images/imagehero.png");
  background-size: cover;
  background-position: center 60%;
  background-repeat: no-repeat;
}
.hero-overlay {
  display: flex;            
  flex-direction: column;    
  align-items: center;
  padding: 4rem;
  height: 70vh;
  background-color: rgba(245, 124, 0, 0.1);
}


.boasvindas {
  font-size: 1.6rem;
  margin-right: 53vw;
  margin-bottom: 9rem;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.682);
  color: white;
  font-weight: 100;
}

.boasvindas span {
  font-family: "handelson three", sans-serif;
  font-size: 3rem;
  font-weight: 100;
}

.slogan {
  font-size: 3rem;
  letter-spacing: 0.1em;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.682);
}

/* Hero termina */
