/* Contato começa */
#contato {
  background-color: #FFF5F2;
  padding-top: 5rem;
}

.contato-container {
  height: 50vh;
  width: 100vw;
}

#contato h1 {
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 3.5em;
  margin-bottom: 1rem;
  color: #5d4037;
}

#contato h2 {
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  font-weight: 100;
  font-size: 1.5em;
  color: #5d4037;
}


.icon-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 6rem;
}

.icon-contato {
  fill: #5d4037;
  width: 5em;
  height: 5em;
}
/* Contato termina */
